[defaults]
retry_files_enabled = False
retry_files_save_path = .ansible-retry
hostfile = ./hosts
library = /usr/share/ansible
module_name = command
remote_tmp = $HOME/.ansible/tmp
pattern = *
forks=5
timeout=10
poll_interval=15
sudo_user=root
#ask_sudo_pass=True
#ask_pass=True
transport=paramiko
remote_port=22
#remote_user=root
sudo_exe=sudo
#sudo_flags=-H
#executable = /bin/sh
#hash_behaviour=replace
#legacy_playbook_variables=yes
#jinja2_extensions=
#private_key_file=/path/to/file
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins
#nocows           = 1

[paramiko_connection]

[ssh_connection]
ssh_args=-o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r
#scp_if_ssh=True
